header {
    background-image: url("../_img/undraw.png");
}

main > div {
    margin: 5px 25%;
    border: 6px solid #dee2e6;
    border-radius: 8px;
}

main > div > form {
    padding: 20% 0%;
}

main > div > form > span {
    display: inline-flex;
    width: 30%;
    justify-content: right;
}

/*input#submit, input#reset {
    color: white;
}*/

input#submit {
    margin: 0 auto;
    display: block;
    position: static;
    width: auto;
}

main > div > form > input {
    border-width: 0px;
    color: white;
    border-radius: 5px;
    line-height: 1.1en;
    position: relative;
    left: 2em;
    width: 45%;
}

main > div > form > hr {
    border: 3px solid rgba(255, 255, 255, 0);
    margin: 0px;
}